/*Shamelessly copied from Planet Floss India*/
/* 	Name: CSS File for Planet FLOSS India
	Author: Sayamindu Dasgupta <sayamindu randomink org>
	
	Inspired by http://planet.gnome.org, http://www.mono-project.org and 
	some stuff taken from the Lush Wordpress Theme at 
	http://www.i-jeriko.de/wordpress-theme-lush/
*/
	
html {
	margin: 0;
	padding: 0;
	min-width: 1005px;
	overflow: auto;
}

body {
	margin: 0; 
	padding: 0;
	background: #dcdcdc;
	background-image: url(bg_tile.jpg);
	background-repeat: repeat-y;
	background-position: top right;
}

div.maincolumn {
	background: #dcdcdc;
	width: 82%
}

.contentlist LI {
	list-style-type: none;
	margin-left: -4%;
}

div.header {
	background-image: url(images/fsmk_banner.jpg);
	background-repeat: no-repeat;
	background-position: top center ;
	text-align: left;
	height: 315px;
	padding-left: 10px;
}



div.entryheader {
	background-image: url(dialog_top.jpg);
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-left: 25px;
}

div.entrybody {
	background-image: url(dialog_body.jpg);
	background-repeat: repeat-y;
	margin-top: -15px;
	padding: 15px;
	margin-left: 3px;
}

.odd div.entryfooter {
	background-image: url(dialog_bottom_odd.jpg);
	background-repeat: no-repeat;
	padding-left: 205px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.even div.entryfooter {
    background-image: url(dialog_bottom_even.jpg);
    background-repeat: no-repeat;
	padding-left: 530px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.entryfooter img {
	position: relative;
	z-index: 100000; /* Above everything else - otherwise IE 7 draws text over it */
	border-width: 0px;
}

div.date {
	width: 775px;
	position: relative;
	bottom: -30px;
	text-align: right;
	color: #666;
	font-family: sans-serif;
	font-size: 75%;
	font-style: oblique;
}

div.entrytext {
	width: 770px;
	text-align: justify;
	font-size: 90%;
}

div.entryheader {
	font-family: sans-serif;
	font-size: 125%;
	font-weight: bold;
	font-stretch: wider;
}

.entryheader a {
	color: #666;
	text-decoration: none;
}

.entryheader a:hover {
	background: #666;
	color: #FFF;
	text-decoration: underline;
}

/* TODO: Add style elements for a, li, img, blockquote */

.entrytext blockquote {
	position: relative;
	top: 0;
	left: -30px;
	width: 550px;
	background: #f0f0f0 url(blockquote.gif) no-repeat top left;
	border-left: 10px solid #b1b1b5;
	padding: 30px 15px 30px 120px;
}

.entrytext img {
	padding: 7px;
	border: 1px solid #CCC;
	max-width: 90%;
}

.entrytext pre {
	margin: 0 auto 1em;
	padding: 1em;
	width: 70%;
	background: #F0F0F5;
	overflow: auto;
}

.entrytext code { font-size: 1.1em; }

.entrytext ul, .entrytext ol {
	margin: 0 2em 1em;
	padding-left: 50px;
}

.entrytext ul li {
	list-style-image: url(listbullet.png);
	color: #666;
}

.entrytext ol li {
	color: #666;
}

.entrytext a {
	color: #666;
	text-decoration: underline;
}

/* Broken HTML ruining my design :-( */
div.entrytext > li {
	color: #666;
	padding-left: 100px;
	list-style-image: url(listbullet.png);
}

.odd div.name {
	margin-left: 130px;
	margin-top: -50px;
}

.even div.name {
	margin-left: -105px;
	margin-top: -50px;
}

.name a {
	font-family: sans-serif;
	color: #666;
	text-decoration: none;
}

.name a:hover {
	font-family: sans-serif;
	color: #fff;
	background: #666;
	text-decoration: underline;
}

/* Sidebar stuff */

div.sidebar {
	position: absolute;
	right: 0px;
	top: 320px;
	height: 100%;
	font-size: 75%;
	color: #666;
	width: 167px;
}

.sidebar h2 {
	background-image: url(meta.gif);
	background-repeat: repeat;
	text-align: center;
	font-size: 120%;
	font-family: sans-serif;
}

.sidebar p {
	padding: 6px;
	text-align: justify;
}

.sidebar ul {
	list-style-image: url(listbullet.png);
}

.sidebar ul.people {
	list-style-image: url(icon_name.gif);
}

.sidebar li {
	margin-left: -5px;
	padding: 2px;
}

.sidebar a {
    color: #666;
    text-decoration: none;
}

.sidebar a:hover {
    background: #666;
    color: #FFF;
    text-decoration: underline;
}

/* Footer Stuff */

div.footer {
	width: 100%;
	color: black;
	font-size: 75%;
	text-align: center;
	color: #666;
	padding-top: 25px;
}
