<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

### Fancy Planet HTML template.
### 
### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces
### 
### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
<TMPL_IF feedtype>
<link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
</TMPL_IF>
</head>

<body>
<div class="banner">
	<div class="header">
	</div>
</div>
<div class="after_banner">
<h1><TMPL_VAR name></h1>

<div class="maincolumn">
        <ul class="contentlist">
        <TMPL_LOOP Items>
                <li class="odd">
                <div class="entryheader">
                        <a href="<TMPL_VAR link>" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR title></a>
                </div>
                <div class="entrybody" id="<TMPL_VAR id>"<TMPL_IF channel_language> lang="<TMPL_VAR  channel_language>"</TMPL_IF>>
                        <div class="entrytext">
                                <div class="content"<TMPL_IF content_language> lang="<TMPL_VAR content_language>"</TMPL_IF>><TMPL_VAR content>
                                </div>
                                <div class="date"><TMPL_VAR date>
                                </div>
                        </div>
                </div>
                <div class="entryfooter">
                        <img class="hackergotchi" src="images/hackergotchis/<TMPL_VAR channel_face ESCAPE="HTML">" alt="face">
                        <br/>
                        <div class="name">
                                <a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a>
                        </div>
                </div>
                </li>
        </TMPL_LOOP>
        </ul>
</div>

<div class="sidebar">
<img src="images/logo.png" width="136" height="136" alt="">
<br>
<h2>Our Contributors</h2>
<a href="contributors.php"><img src="images/contributors.png" width="136" height="136" alt=""></a>
<h2>Alternate Formats</h2>
<ul>
        <li><a href="rss20.xml" title="Rich Site Summary version 2.0">RSS 2.0</a></li>
        <li><a href="rss10.xml" title="Rich Site Summary version 1.0">RSS 1.0</a></li>
        <li><a href="foafroll.xml" title="Friend of a Friend">FOAF</a></li>
        <li><a href="opml.xml" title="Outline Processor Markup Language">OPML</a></li>          
</ul>
</div>
</div> <!--- After banner -->
<div class="footer">
        <p>
                This is a planet of all units and volunteers of <a href="http://fsmk.org" target="_blank">FSMK</a>. We hope that this becomes the central place to get different views and updates from various sources. 
        </p>
        <p>
                <strong>Last updated:</strong> September 02, 2014 04:00 AM.<em>All times are UTC.</em><br>
                Powered by:<a href="http://www.planetplanet.org/"><img src="images/planet.png" width="80" height="15" alt="Planet" border="0"></a>
        </p>
        <p>

                Content in this planet is released under <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="CC BY SA 4.0"><img src="images/cc-by-sa_icon.png" width="90px" height="30px"></a> 
        </p>
</div>
</body>

</html>
